# Sorting Products
- According to some factors, we need to sort some products or people or whatever object of focus.
- Every time a customer purchases from you it means that your product findability is OK and it works. 
- Poor product findability means the following: what can’t be found can’t be bought. No matter how high the demand is, customer patience won’t last long. - People come online to buy things quickly, not to solve searching puzzles.
- Product sorting in ecommerce marketing is the way products are organized in the catalogue or the way they are displayed in search results. 
- Product sorting is one of the marketing tools that you can customize and use to improve the findability of products in your online store.

# Business Problem
- In this application we will look for a solution to the product sorting problem on the e-commerce side. 
- Overview of some sorting techniques We will gain perspective.

# Data Story
- The dataset includes courses on the online training platform.

**Variables**

- **course_name:** Course name        
- **instructor_name:** Name of the trainer     
- **purchase_count:** Number of people purchasing the course.       
- **rating:** Average score for the course.             
- **commment_count:** Total number of comments on the course.       
- **5_point:** Number of people giving the course 5 points              
- **4_point:** Number of people giving the course 4 points              
- **3_point:** Number of people giving the course 3 points              
- **2_point:** Number of people giving the course 2 points              
- **1_point:** Number of people giving the course 1 points

In [1]:
# import Required Libraries

import pandas as pd
import numpy as np
import seaborn as sns
import datetime as dt
import math
import scipy.stats as st

import matplotlib.pyplot as plt
import plotly.express as px
import warnings

from sklearn.preprocessing import MinMaxScaler

warnings.simplefilter(action="ignore")

In [2]:
# Adjusting Row Column Settings

pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [3]:
# Loading the Data Set

df = pd.read_csv("/kaggle/input/product-sortingdataset/product_sorting.csv")

In [4]:
df.head()

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45
2           5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21
4  (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10

In [5]:
# Preliminary examination of the data set

def check_df(dataframe, head=5):
    print('##################### Shape #####################')
    print(dataframe.shape)
    print('##################### Types #####################')
    print(dataframe.dtypes)
    print('##################### Head #####################')
    print(dataframe.head(head))
    print('##################### Tail #####################')
    print(dataframe.tail(head))
    print('##################### NA #####################')
    print(dataframe.isnull().sum())
    print('##################### Quantiles #####################')
    print(dataframe.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

check_df(df)

##################### Shape #####################
(32, 10)
##################### Types #####################
course_name         object
instructor_name     object
purchase_count       int64
rating             float64
commment_count       int64
5_point              int64
4_point              int64
3_point              int64
2_point              int64
1_point              int64
dtype: object
##################### Head #####################
                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45
2           5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21
4  (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10
##################### Tail #####################
   course_name instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point
27   Course_15    Instructor_1            1164 4.60000              98       65       24        6        0        3
28   Course_16   Instructor_13            2362 4.50000              95       58       26        9        0        2
29   Course_17   Instructor_14             661 3.10000             116       53       22       25        9        7
30   Course_18   Instructor_15              30 3.20000               7        1        2        2        1        1
31   Course_19   Instructor_16             231 4.00000              41       17       13        7        2        2
##################### NA #####################
course_name        0
instructor_name    0
purchase_count     0
rating             0
commment_count     0
5_point            0
4_point            0
3_point            0
2_point            0
1_point            0
dtype: int64
##################### Quantiles #####################
                  count       mean        std      min       0%        5%        50%         95%         99%        100%         max
purchase_count 32.00000 7110.71875 9760.89340 30.00000 30.00000 121.10000 3687.50000 21445.20000 41011.58000 48291.00000 48291.00000
rating         32.00000    4.35625    0.44789  3.10000  3.10000   3.31000    4.50000     4.80000     4.80000     4.80000     4.80000
commment_count 32.00000  882.06250 1321.49890  7.00000  7.00000  16.30000  194.50000  3873.65000  4579.77000  4621.00000  4621.00000
5_point        32.00000  598.09375  920.14011  1.00000  1.00000   7.00000  112.50000  2537.95000  3309.76000  3466.00000  3466.00000
4_point        32.00000  211.53125  312.26291  2.00000  2.00000   5.20000   45.50000   898.15000  1060.62000  1122.00000  1122.00000
3_point        32.00000   54.12500   76.57623  0.00000  0.00000   2.00000   14.50000   193.10000   279.59000   314.00000   314.00000
2_point        32.00000    9.53125   12.99127  0.00000  0.00000   0.00000    3.00000    38.40000    45.69000    46.00000    46.00000
1_point        32.00000    8.96875   14.57015  0.00000  0.00000   0.00000    3.00000    33.45000    60.18000    67.00000    67.00000

# Sorting by Rating

In [6]:
df.sort_values("rating", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3
27                                          Course_15       Instructor_1            1164 4.60000              98       65       24        6        0        3
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45
16                                           Course_6       Instructor_7             140 4.60000              20       10       10        0        0        0
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21
21                                          Course_10      Instructor_10             723 4.50000             130       68       47        9        3        3
7   Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24
28                                          Course_16      Instructor_13            2362 4.50000              95       58       26        9        0        2
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9

# Sorting by Comment Count

In [7]:
df.sort_values("commment_count", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9
12                                           Course_4       Instructor_5            1901 4.30000             376      218      113       34        8        3
11                                           Course_3       Instructor_4           24809 4.30000             250       95       87       51       12        5
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0
26                                          Course_14       Instructor_9            6027 4.00000             176      103       52       16        3        2
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3
21                                          Course_10      Instructor_10             723 4.50000             130       68       47        9        3        3

# Sorting by Purchase Count

In [8]:
df.sort_values("purchase_count", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45
11                                           Course_3       Instructor_4           24809 4.30000             250       95       87       51       12        5
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3
26                                          Course_14       Instructor_9            6027 4.00000             176      103       52       16        3        2
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0
17                                           Course_7       Instructor_8            4204 3.80000              66       38       13       11        2        2
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3
28                                          Course_16      Instructor_13            2362 4.50000              95       58       26        9        0        2

# Sorting by Rating, Comment Count and Purchase Count
- We will consider all three cases in the data frame when ranking.
- Since the values of these variables are not in a compatible range with each other, we will sort them after bringing them to the same range and standard.

In [9]:
# We standardized the purchase_coount variable with MinMaxScaler.

df["purchase_count_scaled"] = MinMaxScaler(feature_range=(1, 5)).fit(df[["purchase_count"]]).transform(df[["purchase_count"]])

In [10]:
df.head()

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000
2           5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669
4  (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525

In [11]:
# We standardized the commment_count variable with MinMaxScaler.

df["comment_count_scaled"] = MinMaxScaler(feature_range=(1, 5)).fit(df[["commment_count"]]).transform(df[["commment_count"]])

In [12]:
df.head()

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470
2           5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427
4  (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398

# Weighted Sorting Score

In [13]:
# The values that we have brought to a certain standard can now be weighted as we wish, giving each course a we can create a score.

(df["comment_count_scaled"] * 32 / 100 +
 df["purchase_count_scaled"] * 26 / 100 +
 df["rating"] * 42 / 100)

0    4.24988
1    4.79510
2    3.48349
3    2.93711
4    3.02204
5    2.75165
6    2.85721
7    2.52239
8    2.75990
9    2.81623
10   3.42792
11   2.98739
12   2.52869
13   2.72186
14   3.50198
15   3.36577
16   2.51798
17   2.28232
18   2.45807
19   2.72659
20   3.68156
21   2.51906
22   2.53828
23   2.35459
24   2.26479
25   2.02105
26   2.43612
27   2.56168
28   2.54467
29   1.92584
30   1.92400
31   2.27376
dtype: float64

**NOT:** The value we obtain here **is the score** obtained by weighting a certain number of factors. It **is not a rating.**

In [14]:
# We converted the weights we determined ourselves into a function.

def weighted_sorting_score(dataframe, w1=32, w2=26, w3=42):
    return (dataframe["comment_count_scaled"] * w1 / 100 +
            dataframe["purchase_count_scaled"] * w2 / 100 +
            dataframe["rating"] * w3 / 100)

In [15]:
df["weighted_sorting_score"] = weighted_sorting_score(df)

In [16]:
df.head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161                 3.48349
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398                 3.02204
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0                1.37886               1.17859                 2.75165
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9                1.26033               1.73602                 2.85721
7   Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3                1.07451               1.10316                 2.52239
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4                1.57106               1.17945                 2.75990
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9                1.53932               1.77503                 2.81623
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0                1.78937               2.95839                 3.42792
11                                           Course_3       Instructor_4           24809 4.30000             250       95       87       51       12        5                3.05375               1.21066                 2.98739
12                                           Course_4       Instructor_5            1901 4.30000             376      218      113       34        8        3                1.15507               1.31990                 2.52869
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3                1.49945               1.11877                 2.72186
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24                2.06612               3.09623                 3.50198
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24                1.94213               3.03381                 3.36577
16                                           Course_6       Instructor_7             140 4.60000              20       10       10        0        0        0                1.00912               1.01127                 2.51798
17                                           Course_7       Instructor_8            4204 3.80000              66       38       13       11        2        2                1.34595               1.05115                 2.28232
18                                           Course_8       Instructor_9            1039 4.40000              37       22        9        6        0        0                1.08363               1.02601                 2.45807
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0                1.25901               1.19766                 2.72659

In [17]:
df.sort_values("weighted_sorting_score", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67                2.07051               3.91634                 3.68156
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24                2.06612               3.09623                 3.50198
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161                 3.48349
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0                1.78937               2.95839                 3.42792
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24                1.94213               3.03381                 3.36577
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398                 3.02204
11                                           Course_3       Instructor_4           24809 4.30000             250       95       87       51       12        5                3.05375               1.21066                 2.98739
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9                1.26033               1.73602                 2.85721
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9                1.53932               1.77503                 2.81623
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4                1.57106               1.17945                 2.75990
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0                1.37886               1.17859                 2.75165
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0                1.25901               1.19766                 2.72659
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3                1.49945               1.11877                 2.72186
27                                          Course_15       Instructor_1            1164 4.60000              98       65       24        6        0        3                1.09399               1.07889                 2.56168
28                                          Course_16      Instructor_13            2362 4.50000              95       58       26        9        0        2                1.19328               1.07629                 2.54467
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3                1.25130               1.14044                 2.53828
12                                           Course_4       Instructor_5            1901 4.30000             376      218      113       34        8        3                1.15507               1.31990                 2.52869

In [18]:
df[df["course_name"].str.contains("Veri Bilimi")].sort_values("weighted_sorting_score", ascending=False).head(20)

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711
7  Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3                1.07451               1.10316                 2.52239

# Bayesian Average Rating Score (BAR Score)
- Here we will focus on the distribution of scores. Using the distributional information of these scores, we will calculate a probabilistic mean.

- We will use the following function to calculate the mean with **Bayesian**.
- The value n refers to the stars to be entered and their observation frequencies.
- The confidance value is the confidence value. 0.95 or 0.99 is taken. But usually 0.95 is taken.
- Note: Bar score allows us to sort by focusing only on **ratings**.

In [19]:
def bayesian_average_rating(n, confidence=0.95):
    if sum(n) == 0:
        return 0
    K = len(n)
    z = st.norm.ppf(1 - (1 - confidence) / 2)
    N = sum(n)
    first_part = 0.0
    second_part = 0.0
    for k, n_k in enumerate(n):
        first_part += (k + 1) * (n[k] + 1) / (N + K)
        second_part += (k + 1) * (k + 1) * (n[k] + 1) / (N + K)
    score = first_part - z * math.sqrt((second_part - first_part * first_part) / (N + K + 1))
    return score

In [20]:
# Creat bar_score variable

df["bar_score"] = df.apply(lambda x: bayesian_average_rating(x[["1_point",
                                                                "2_point",
                                                                "3_point",
                                                                "4_point",
                                                                "5_point"]]), axis=1)

In [21]:
df.head()

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score  bar_score
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988    4.66586
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510    4.51604
2           5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161                 3.48349    4.51521
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711    4.48208
4  (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398                 3.02204    4.59567

In [22]:
df.sort_values("weighted_sorting_score", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score  bar_score
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510    4.51604
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988    4.66586
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67                2.07051               3.91634                 3.68156    4.48063
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24                2.06612               3.09623                 3.50198    4.56816
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161                 3.48349    4.51521
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0                1.78937               2.95839                 3.42792    4.64168
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24                1.94213               3.03381                 3.36577    4.45481
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398                 3.02204    4.59567
11                                           Course_3       Instructor_4           24809 4.30000             250       95       87       51       12        5                3.05375               1.21066                 2.98739    3.87774
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711    4.48208
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9                1.26033               1.73602                 2.85721    4.50797
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9                1.53932               1.77503                 2.81623    4.43153
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4                1.57106               1.17945                 2.75990    4.43491
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0                1.37886               1.17859                 2.75165    4.63448
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0                1.25901               1.19766                 2.72659    4.72913
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3                1.49945               1.11877                 2.72186    4.21854
27                                          Course_15       Instructor_1            1164 4.60000              98       65       24        6        0        3                1.09399               1.07889                 2.56168    4.25394
28                                          Course_16      Instructor_13            2362 4.50000              95       58       26        9        0        2                1.19328               1.07629                 2.54467    4.19961
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3                1.25130               1.14044                 2.53828    4.39133
12                                           Course_4       Instructor_5            1901 4.30000             376      218      113       34        8        3                1.15507               1.31990                 2.52869    4.32076

In [23]:
df.sort_values("bar_score", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score  bar_score
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0                1.25901               1.19766                 2.72659    4.72913
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988    4.66586
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0                1.78937               2.95839                 3.42792    4.64168
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0                1.37886               1.17859                 2.75165    4.63448
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398                 3.02204    4.59567
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24                2.06612               3.09623                 3.50198    4.56816
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510    4.51604
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161                 3.48349    4.51521
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9                1.26033               1.73602                 2.85721    4.50797
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711    4.48208
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67                2.07051               3.91634                 3.68156    4.48063
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24                1.94213               3.03381                 3.36577    4.45481
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4                1.57106               1.17945                 2.75990    4.43491
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9                1.53932               1.77503                 2.81623    4.43153
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3                1.25130               1.14044                 2.53828    4.39133
7   Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3                1.07451               1.10316                 2.52239    4.34219
12                                           Course_4       Instructor_5            1901 4.30000             376      218      113       34        8        3                1.15507               1.31990                 2.52869    4.32076
26                                          Course_14       Instructor_9            6027 4.00000             176      103       52       16        3        2                1.49705               1.14651                 2.43612    4.26038
27                                          Course_15       Instructor_1            1164 4.60000              98       65       24        6        0        3                1.09399               1.07889                 2.56168    4.25394
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3                1.49945               1.11877                 2.72186    4.21854

# Hybrid Sorting: BAR Score + Other Factors

- Sorting by Rating
- Sorting by Comment Count or Purchase Count
- Sorting by Rating, Comment and Purchase
- Sorting by Bayesian Average Rating Score (Sorting Products with 5 Star Rated)
- Hybrid Sorting: BAR Score + Other Factors

**We will combine the weighted average (wss) and the Bayesian (bar_scor) we calculated earlier and evaluate all conditions together to obtain a score.**

In [24]:
def hybrid_sorting_score(dataframe, bar_w=60, wss_w=40):
    bar_score = dataframe.apply(lambda x: bayesian_average_rating(x[["1_point",
                                                                     "2_point",
                                                                     "3_point",
                                                                     "4_point",
                                                                     "5_point"]]), axis=1)
    wss_score = weighted_sorting_score(dataframe)

    return bar_score*bar_w/100 + wss_score*wss_w/100

In [25]:
# # Creat hybrid_sorting_score variable

df["hybrid_sorting_score"] = hybrid_sorting_score(df)

In [26]:
df.head()

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score  bar_score  hybrid_sorting_score
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988    4.66586               4.49947
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510    4.51604               4.62766
2           5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161                 3.48349    4.51521               4.10252
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711    4.48208               3.86409
4  (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398                 3.02204    4.59567               3.96622

In [27]:
df.sort_values("hybrid_sorting_score", ascending=False).head(20)

                                          course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score  bar_score  hybrid_sorting_score
1   Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510    4.51604               4.62766
0   (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988    4.66586               4.49947
20                                           Course_9       Instructor_3           12946 4.50000            3371     2191      877      203       33       67                2.07051               3.91634                 3.68156    4.48063               4.16100
10        İleri Düzey Excel|Dashboard|Excel İp Uçları  Veri Bilimi Okulu            9554 4.80000            2266     1654      499       91       22        0                1.78937               2.95839                 3.42792    4.64168               4.15618
14                       Uçtan Uca SQL Server Eğitimi  Veri Bilimi Okulu           12893 4.70000            2425     1722      510      145       24       24                2.06612               3.09623                 3.50198    4.56816               4.14169
2            5 Saatte Veri Bilimci Olun (Valla Billa)       Instructor_1           18693 4.40000            2362     1582      567      165       24       24                2.54684               3.04161                 3.48349    4.51521               4.10252
15                      Uygulamalarla SQL Öğreniyorum  Veri Bilimi Okulu           11397 4.50000            2353     1435      705      165       24       24                1.94213               3.03381                 3.36577    4.45481               4.01920
4   (2020) Python ile Makine Öğrenmesi (Machine Le...  Veri Bilimi Okulu           11314 4.60000             969      717      194       38       10       10                1.93525               1.83398                 3.02204    4.59567               3.96622
19                     Alıştırmalarla SQL Öğreniyorum  Veri Bilimi Okulu            3155 4.80000             235      200       31        4        0        0                1.25901               1.19766                 2.72659    4.72913               3.92811
5                                            Course_1       Instructor_2            4601 4.80000             213      164       45        4        0        0                1.37886               1.17859                 2.75165    4.63448               3.88135
3     R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711    4.48208               3.86409
6                                            Course_2       Instructor_3            3171 4.70000             856      582      205       51        9        9                1.26033               1.73602                 2.85721    4.50797               3.84767
9                        Modern R Programlama Eğitimi  Veri Bilimi Okulu            6537 4.40000             901      559      252       72        9        9                1.53932               1.77503                 2.81623    4.43153               3.78541
8            A'dan Z'ye Apache Spark (Scala & Python)  Veri Bilimi Okulu            6920 4.70000             214      154       41       13        2        4                1.57106               1.17945                 2.75990    4.43491               3.76491
22  A'dan Z'ye Uygulamalı Hadoop ve Büyük Veri Eği...  Veri Bilimi Okulu            3062 4.40000             169      122       29       13        2        3                1.25130               1.14044                 2.53828    4.39133               3.65011
13                                           Course_5       Instructor_6            6056 4.70000             144       82       46       12        1        3                1.49945               1.11877                 2.72186    4.21854               3.61987
7   Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3                1.07451               1.10316                 2.52239    4.34219               3.61427
12                                           Course_4       Instructor_5            1901 4.30000             376      218      113       34        8        3                1.15507               1.31990                 2.52869    4.32076               3.60393
27                                          Course_15       Instructor_1            1164 4.60000              98       65       24        6        0        3                1.09399               1.07889                 2.56168    4.25394               3.57704
28                                          Course_16      Instructor_13            2362 4.50000              95       58       26        9        0        2                1.19328               1.07629                 2.54467    4.19961               3.53763

In [28]:
df[df["course_name"].str.contains("Veri Bilimi")].sort_values("hybrid_sorting_score", ascending=False).head(20)

                                         course_name    instructor_name  purchase_count  rating  commment_count  5_point  4_point  3_point  2_point  1_point  purchase_count_scaled  comment_count_scaled  weighted_sorting_score  bar_score  hybrid_sorting_score
1  Python: Yapay Zeka ve Veri Bilimi için Python ...  Veri Bilimi Okulu           48291 4.60000            4488     2962     1122      314       45       45                5.00000               4.88470                 4.79510    4.51604               4.62766
0  (50+ Saat) Python A-Z™: Veri Bilimi ve Machine...  Veri Bilimi Okulu           17380 4.80000            4621     3466      924      185       46        6                2.43801               5.00000                 4.24988    4.66586               4.49947
3    R ile Veri Bilimi ve Machine Learning (35 Saat)  Veri Bilimi Okulu            6626 4.60000            1027      688      257       51       10       21                1.54669               1.88427                 2.93711    4.48208               3.86409
7  Veri Bilimi için İstatistik: Python ile İstati...  Veri Bilimi Okulu             929 4.50000             126       88       26        9        0        3                1.07451               1.10316                 2.52239    4.34219               3.61427